

header {grid-area: header;}
.button-bar {grid-area: buttons;}
.projec-bar {grid-area: projects;}
.todoDiv {grid-area: todos;}

#container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'buttons buttons buttons buttons buttons buttons'
    'projects todos todos todos todos todos';
}



.todoCard {
    width: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

header {
  height: 100px;

}

button {
    width: 100px;
    height: 30px;
}


nav {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.todoDiv {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
}

.projec-bar {
    border: 1px solid black;
    border-radius: 5px;
}

header {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    }

.toggle {
  border: 1px, solid, black;
  width: 10px;
  height: 10px;
}

.remove {
  width: 70px;
  height: 30px;
}

.edit {
  width: 70px;
  height: 30px;
}

.todo-title {
  cursor: pointer;
   
}
.todo-title::highlight {
    background: red;
  }



