#todoCard {
    width: fit-content;
    border: 1px solid red;
    margin: 10px;
    padding: 5px;
}

#container {
    display: grid;
    gap: 10px;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 1fr 4fr;
}
